.HomeLetter {
  -top: 140px;
  max-width: 1920px;
  max-height: 1548px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  z-index: 1;

}

.HomeLetter-header {
  text-align: center;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, rgba(239, 214, 187, 0.25) ,rgba(255, 255, 255, 0.5) );
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeLetter-header img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  margin-bottom:0px;
  margin-top:160px;
}

.HomeLetter-header h1 {
  padding-top: 20px;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top:0px;
}

.HomeLetter-header p {
  font-size: 16px;
  margin-bottom: 100px;
}

.subscribe-button {
  margin-top: -40px;
  margin-bottom: 50px;
  padding-right: 0px;
  background-color: white;
  border-style: solid;
  border-color: #c7b1997d;
  border-width: 1px;
  color: rgb(51, 44, 44);
  border-radius: 200px;
  cursor: pointer;
  width: 180px;
  height: 50px;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  width: 816px; 
  height: 847px;
  overflow: auto;
  margin: 0 auto; 
  box-sizing: border-box;
}

.thumbnail {
  width: 332px;
  height: 293px; 
  box-sizing: border-box;
  position: relative;
  margin-bottom: 5px;
  /* overflow: hidden; */
}

.thumbnail-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (min-width: 700px) {
  .thumbnails {
    gap: 20px;
  }
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.thumbnail-description {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.bookmark-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  z-index: 2;
  padding: 2px; 
}

.modal {
  position: absolute;
  width: 600px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  border: none;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  z-index: 1005;
}

.modal-outer {
  background: white;
  padding: 30px;
  width: 500px;
}

.modal-content {
  text-align: left;
}
  
.modal h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color:#333
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-emphasis-color: red;
}

.checkbox-group input {
  margin-right: 10px;
}

.checkbox-group label {
  font-size: 12px;
  color: #666;
}

.submit-button {
  width: 100%;
  background-color: #e6c793;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #d9b57d;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(204, 204, 204, 0.708);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  width: 600px;
  height: 150px;
  position: absolute;
  top: 120px;
  left: 382px;
  background-color: white;
  padding: 20px;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
}

.privacy-popup-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}

.confirmPopup {
  width: 600px; 
  height: 350px;
  max-width: 100%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0);
  z-index: 2005;
  position: fixed;
  top: 50%; /* 중앙 정렬을 위해 추가 */
  left: 50%; /* 중앙 정렬을 위해 추가 */
  transform: translate(-50%, -50%); /* 중앙 정렬을 위해 추가 */
}

.popup-content {
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.popup-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.privacy-popup-text {
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: black;
}

.privacy-confirm-button {
  padding: 10px 20px;
  background-color: #e6c793;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
}


.confirm-button {
  position: absolute;
  margin-top: 10px;
  padding: 5px 15px;
  background-color:#dcb88d;
  color: white;
  border: none;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
}
