.HomeLetter {
  padding-top: 134px; /* Navbar의 높이(94px) + 추가 여백 */
}

.HomeLetter-header {
  text-align: center;
  margin-bottom: 40px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeLetter-header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.HomeLetter-header p {
  font-size: 16px;
  margin-bottom: 20px;
}
  
  .subscribe-button {
    padding: 10px 20px;
    margin: 20px;
    background-color: #f5a623;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
  
  .thumbnail {
    width: 200px;
    margin: 10px;
    text-align: left;
  }
  
  .thumbnail img {
    width: 100%;
    height: auto;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }