@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Freesentation";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Freesentation";
  font-weight: 500;
  src: url("./fonts/Freesentation-5Medium.ttf");
}
@font-face {
  font-family: "Freesentation";
  font-weight: 400;
  src: url("./fonts/Freesentation-4Regular.ttf");
}
@font-face {
  font-family: "Freesentation";
  font-weight: 260;
  src: url("./fonts/Freesentation-2ExtraLight.ttf");
}
